<div data-controller="blurb-component">
	<div class="mt-5">
		<div class="text-left">
			<p>
				<%= first_paragraph %>
			</p>
			<p>
				<%= second_paragraph %>
			</p>
			<p>
				<%= third_paragraph %>
			</p>
			<p>
				<%= fourth_paragraph %>
			</p>
			<p>
				<%= fifth_paragraph %>
			</p>
			<p>
				<%= sixth_paragraph %>
			</p>
			<p>
				<%= seventh_paragraph %>
			</p>
		</div>
	</div>
</div>
