<div data-controller="blurb-component">
	<div class="mt-5">
		<div class="text-left typewriter">
			<p class="paragraph" data-blurb-component-target="paragraph">
				<%= first_paragraph %>
			</p>
			<p class="paragraph mt-5" data-blurb-component-target="paragraph">
				<%= second_paragraph %>
			</p>
			<p class="paragraph mt-5" data-blurb-component-target="paragraph">
				<%= third_paragraph %>
			</p>
			<p class="paragraph mt-5" data-blurb-component-target="paragraph">
				<%= fourth_paragraph %>
			</p>
			<p class="paragraph mt-5" data-blurb-component-target="paragraph">
				<%= fifth_paragraph %>
			</p>
			<p class="paragraph mt-5" data-blurb-component-target="paragraph">
				<%= sixth_paragraph %>
			</p>
			<p class="paragraph mt-5" data-blurb-component-target="paragraph">
				<%= seventh_paragraph %>
			</p>
		</div>
	</div>
</div>
