<div class="scrolling-container">
	<div class="scrolling-images">
		<div class="image-wrapper"><%= image_tag 'ruby.svg', alt: 'ruby', class: ' large-svg' %></div>
		<div class="image-wrapper"><%= image_tag 'rails.png', alt: 'rails' %></div>
		<div class="image-wrapper"><%= image_tag 'react.svg', alt: 'react' %></div>
		<div class="image-wrapper"><%= image_tag 'redis.svg', alt: 'redis' %></div>
		<div class="image-wrapper"><%= image_tag 'sidekiq.svg', alt: 'sidekiq' %></div>
		<div class="image-wrapper"><%= image_tag 'aws.svg', alt: 'aws', class: ' large-svg' %></div>
		<div class="image-wrapper"><%= image_tag 'typescript.svg', alt: 'typescript' %></div>
		<div class="image-wrapper"><%= image_tag 'jquery.svg', alt: 'jquery' %></div>
		<div class="image-wrapper"><%= image_tag 'digitalocean.svg', alt: 'digitalocean' %></div>
		<div class="image-wrapper"><%= image_tag 'heroku.svg', alt: 'heroku' %></div>
		<div class="image-wrapper"><%= image_tag 'ruby.svg', alt: 'ruby', class: ' large-svg' %></div>
		<div class="image-wrapper"><%= image_tag 'rails.png', alt: 'rails' %></div>
		<div class="image-wrapper"><%= image_tag 'react.svg', alt: 'react' %></div>
		<div class="image-wrapper"><%= image_tag 'redis.svg', alt: 'redis' %></div>
		<div class="image-wrapper"><%= image_tag 'sidekiq.svg', alt: 'sidekiq' %></div>
		<div class="image-wrapper"><%= image_tag 'aws.svg', alt: 'aws', class: ' large-svg' %></div>
		<div class="image-wrapper"><%= image_tag 'typescript.svg', alt: 'typescript' %></div>
		<div class="image-wrapper"><%= image_tag 'jquery.svg', alt: 'jquery' %></div>
		<div class="image-wrapper"><%= image_tag 'digitalocean.svg', alt: 'digitalocean' %></div>
		<div class="image-wrapper"><%= image_tag 'heroku.svg', alt: 'heroku' %></div>
	</div>
</div>
